@font-face {
  font-family: text-me-one;
  src: url(/assets/text_me_one/TextMeOne-Regular.ttf);
}

body {
    margin: 0;
    padding: 0;
    background: url("/images/backgroungbw.png") no-repeat left top fixed;
    background-size: cover;
    height: 100vh;
}

h3, p, nav {
    font-family: Roboto, sans-serif;
    font-weight: lighter;
}

#nav-bar {
    margin: 0;
    display: flex;
    justify-content: space-around;
    background: #FFB192;
    font-size: 18px;
}

ul {
    list-style: none;
}

li {
    padding: 20px;
}

ul a {
    color:white;
    text-decoration: none;
}

li a:hover {
    font-size: 120%;
}

#about {
    color: #FFB192;
    font-family: text-me-one;
    font-size: 70px;
    font-weight: lighter;
    text-align: right;
    padding-right: 20%;
    animation: text-flicker 3s linear infinite;
}

#offset {
    animation: letter-flicker 2s linear infinite;
  }
  
@keyframes text-flicker {
    0% {
      opacity:0.1;
      text-shadow: 0px 0px 29px orange;
    }
    
    2% {
      opacity:1;
      text-shadow: 0px 0px 29px orange;
    }
    8% {
      opacity:0.1;
      text-shadow: 0px 0px 29px orange;
    }
    9% {
      opacity:1;
      text-shadow: 0px 0px 29px orange;
    }
    12% {
      opacity:0.1;
      text-shadow: 0px 0px orange;
    }
    20% {
      opacity:1;
      text-shadow: 0px 0px 29px orange;
    }
    25% {
      opacity:0.3;
      text-shadow: 0px 0px 29px orange;
    }
    30% {
      opacity:1;
      text-shadow: 0px 0px 29px orange;
    }
    
    70% {
      opacity:0.7;
      text-shadow: 0px 0px 29px orange;
    }
    
    72% {
      opacity:0.2;
      text-shadow:0px 0px 29px orange;
    }
    
    77% {
      opacity:.9;
      text-shadow: 0px 0px 29px orange;
    }
    100% {
      opacity:.9;
      text-shadow: 0px 0px 29px orange;
    }
  }

  @keyframes letter-flicker {
    0% {
      opacity:0.1;
      text-shadow: 0px 0px 29px orange;
    }
    2% {
      opacity:0.1;
      text-shadow: 0px 0px 29px orange;
    }
    4% {
      opacity:1;
      text-shadow: 0px 0px 29px orange;
    }
    
    
    19% {
      opacity:1;
      text-shadow: 0px 0px 29px orange;
    }
    21% {
      opacity:0.1;
      text-shadow: 0px 0px 29px orange;
    }
    23% {
      opacity:1;
      text-shadow: 0px 0px 29px orange;
    }
    
    80% {
      opacity:1;
      text-shadow: 0px 0px 29px orange;
    }
    83% {
      opacity:0.4;
      text-shadow: 0px 0px 29px orange;
    }
    87% {
      opacity:1;
      text-shadow: 0px 0px 29px orange;
    }
  }

#career {
    display: flex;
    align-items: center;
}

.careerhead {
    display: flex;
    align-items: center;
    transform: rotate(-90deg);
}

#career-text {
    padding: 10px;
}

#paracareer {
    line-height: 1.4;
    padding-right: 5%;
}

#fun {
    display: flex;
    align-items: center;
}

.funhead {
    transform: rotate(90deg);
    display: flex;
    align-items: center;
    height: 50px;
}

#fun-text {
    padding: 10px;
}

#parafun {
    text-align: right;
    line-height: 1.4;
    padding-left: 5%;
}

@media only screen and (min-width: 834px) {
    body {
        background-size: 50%;
    }

    #career {
        padding-right: 60%;
    }

    #fun {
        padding-left: 60%;
    }

}