body {
    margin: 0;
    padding: 0;
    background: url("/images/backgroundbig.png") no-repeat left top fixed;
    background-size: cover;
}

main {
    display: grid;
    grid-template-rows: .5fr .5fr .5fr 1fr .5fr .5fr .5fr;
    grid-template-columns: repeat(4, 1fr);
}

#biancalogo {
    grid-area: 2/3/span 1/span 2;
}

#name {
    max-width: 350px;
    width: 80%;
}

#homemenu {
    font-family: Roboto, sans-serif;
    font-size: 24px;
    font-weight: lighter;
    grid-area: 4/3/span 1/span 1;
}

ul {
    list-style: none;
    border-left: 1px solid;
}

a {
    color: black;
    text-decoration: none;
}

#homemenu a:hover {
    padding-left: 20px;
}

#socialicons {
    grid-area: 6/2/span 1/span 2;
    display: flex;
    justify-content: space-between;
}

#socialicons a:hover {
    transform: scale(1.2);
}

/* Changes for desktop */
@media only screen and (min-width: 834px) {
    body {
        background-size: 50%;
    }

    main {
        grid-template-columns: repeat(6, 1fr);
    }

    #biancalogo {
        grid-column: 5/span 2;
    }

    #homemenu {
        grid-column: 5/span 2;
    }

    #socialicons {
        grid-area: 6/2/span 1/ span 1;
    }
}
