body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: url("/images/backgroungbw.png") no-repeat left top fixed;
    background-size: cover;
}

#nav-bar {
    margin: 0;
    display: flex;
    justify-content: space-around;
    border-bottom: 0.25px solid;
    border-bottom-color: #FFB192;
    background: white;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: lighter;
}

main {
    padding-top: 10%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: repeat(4, 1fr);
}

ul {
    list-style: none;
}

li {
    padding: 20px;
}

ul a {
    color: black;
    text-decoration: none;
}

li a:hover {
    font-size: 120%;
}

#biancalogo {
    grid-area: 2/3/span 1/span 1; 
}

#name {
    max-width: 350px;
}

span {
    font-family: sans-serif;
    font-size: 72px;
}

#socialicons {
    grid-area: 3/2/span 1/span 2;
    display: flex;
    justify-content: space-around;
    padding: 10%;
}

#socialicons a:hover {
    transform: scale(1.2);
}

/* Changes for desktop */
@media only screen and (min-width: 834px) {
    body {
        background-size: 50%;
    }

    main {
        grid-template-columns: repeat(6, 1fr);
    }

    #biancalogo {
        grid-area: 2/5/span 1/span 1;
    }

    #socialicons {
        grid-area: 6/2/span 1/ span 1;
    }
}
